
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


body{
    margin: 0;
}
/* shared item start...................
........................................*/
.display-flex{
    display: flex;
    

}

.dark-1{
    color: rgba(19, 19, 19, 1);
}

.dark-2{
    color:rgba(66, 66, 66, 1);
}

.dark-3{
    color: rgba(114, 114, 114, 1);
}

.primary-btn{
    background-color:#FF900E;
    color:#FFFFFF;
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}


.display-none{
    display: none;
}

/* shared item closed................................. */

/* nav section start */

.hero-container{
    background-color:#ff8f0e1c;
}



.navbar{
    justify-content:space-between;
    /* border: 2px solid red; */
    align-items: center;
    

}

.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    /* border: 2px solid red; */
    margin-left:50px;
    
}
.item-container{
  gap: 30px;
  justify-items: center;
  /* border: 2px solid red; */
  height:2.5vh;
  list-style: none;
  margin-right: 200px;

}

.items{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight:500;
    /* padding: 5px; */
}



/* nav section closed*/

/* hero section start...........
................................ */

.hero-section{
    max-width:860px;
    /* border: 5px solid blue; */
    margin:0 auto ;
    text-align: center;
}

.hero-section-title{
    font-size: 4rem;
    font-weight: 700;
}

.hero-section-passage{
    font-size: 1rem;

}

.hero-image-container{
    margin:0 auto;
    max-width: 1150px;
    /* border: 2px solid red; */
}
.hero-image{
    width: 100%;
    margin-top:30px;
}
/* hero section closed */




/* quick list of our feature section start...........
..................................................... */

.our-feature-main-container{
    display: flex;
    align-items: center;
    margin-left: 380px;
    margin-top: 60px;
}

.our-feature-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;
}


/* our features image style */

.our-features-image{
    max-width:100%;
    /* border: 2px solid red; */
}

.image-sub{
    /* border: 2px solid blue; */
    width: 300px;
}


/* our features title text style */

.feature-title-container{
    max-width: 380px;
    height: 200px;
    /* border: 2px solid blue; */
    margin-left:70px;
}


.our-features-title{
    font-size:2.15rem;
}

.features{
    color: #FF900E;
}

.second-btn{
    margin-top: 20px;
}

.our-feature-passage{
    font-size:1rem;
    width:357px;
    height: 58px;
    margin-top:-20px;
    /* border: 2px solid rgb(255, 28, 28); */
}

/* responsive section..................
..........................start................. */



/* mini device like mobile phone size */

@media screen and (max-width:576px) {
    
    .navbar{
        flex-direction: column-reverse;
        
    }
    
    .nav-title{
        margin-left:1px;
        font-size:2.5rem;
    }

    .item-container{
       margin-left:150px;
}

    .hero-section-title{
        font-size:2rem;
    }

    .hero-section-passage{
        font-size: 1rem;
    }

   
    .hero-image-container{
        max-width:400px;
    }

    .hero-image{
        width:100%;
    }

    /* second section quick list our feature */

    .our-feature-main-container{
     flex-direction: column-reverse;
     margin-top: -10px;
    }
    .feature-title-container{
        margin-left: -350PX;
    }
    .our-feature-container{
    grid-template-columns: repeat(1, 1fr);
    margin-left: -380px;
    margin-top: 110px;
    /* border: 2px solid blue; */

    }

    .image-sub{
        width: 360px;
        /* border: 2px solid orange; */
    }
    .our-features-image{
      width: 100%;
      margin-top:20px;
      /* border:1px solid red ; */
    }
}



/* tablet size responsive section.... 
.....................................*/

@media screen and (min-width:576px) and (max-width:767.98px) {
    
       .nav-title{
        margin-left:20px;
        font-size:2rem;

    }

    .hero-container{
        width:100%;
    }

   .hero-image-container {
    margin: 0 auto;
    max-width: 600px; 
    /* border: 2px solid red; */
}

.item-container{
    margin-right: 50px;
}

}

/* second section quick list our feature */

.our-feature-main-container{
   flex-direction: column-reverse;
}

.our-feature-container{
    margin-top:130px;
    margin-left:-390px;
}

.feature-title-container{
    margin-left: -390px;
    margin-top: -10px;
}

.our-feature-passage{
    width: 400px;
    /* border: 2px solid red; */
    height: 60px;
}